
  {{#if error}}
        <p class = "meetupError">Oh no! {{error}}</p>
    {{/if}}
    {{#if message}}
        <p class = "friendAddMessage">{{message}}</p>
    {{/if}}
    <div class="rsvpHeaderContainer">
    <h1 class = "rsvph1"> Current Meetups </h1>

  <!-- create a meetup! -->
  <form action="/meetupPage/create" method="GET" class = "meetupButtonForm">
  {{#each restNames}}
    <input type="hidden" name="restNames[]" value="{{this.name}}::{{this.id}}">
  {{/each}}

    <button type = 'submit' class = "createRSVPButton">Create Meetup</button>
  </form>

</div>


    {{#each allrsvps}}
    <div class = "rsvpBox" >
        
        <h2>Where: {{this.restaurantId}}</h2>
    <div class="postheader">
        <p>User Posted: {{this.user}} 
          <input type="hidden" id="follow-friendId" name="friendId" value="{{this.userId}}">
            <form action="/meetupPage/follow" method="POST" class = "followForm">
                <input type="hidden" id="follow-friendId" name="friendId" value="{{this.userId}}">
                <input type="hidden" id="follow-userId" name="userId" value="{{../currUser._id}}">
                <button type="submit" class="followButton">Follow</button>
            </form></p>
    </div>
        <p>When: {{this.meetUpTime.Date}}</p>
        <p> {{this.meetUpTime.Time}}</p>
        <p class = "comments">Comments: {{this.comment}} </p>
        <p class = "usersAttending">Users Attending: {{this.usersAttending}}</p>
        <form action="/meetupPage/rsvp" method="POST" class = "rsvpForm"> <!-- in order to add a user to an rsvp as an attendee, we need the rsvp id and the userId of the current user making request. in rsvp function make sure user is not already an attendee-->
                <input type="hidden" name="userId" value="{{../currUser._id}}">
                <input type="hidden" name="rsvpID" value="{{this._id}}">
                 <input type="hidden" name="posterId" value="{{this.userId}}">
                <button type="submit" class="rsvpButton">RSVP</button>
            </form></p>
    </div>
    {{/each}}

  

<script src="/js/formValidation.js"></script>
</body>
</html>