{{!-- This page will list everything about the dining facility
1. Name
2. Location
3. Type of Food
4. Dietary Information
5. Hours of Operation for Each Day of the Week
6. Menu Items (in a list)
6a. Overall Rating of each menu item
6b. Reviews for each item
6ba. Reviews can be sorted by time/ratings
7. Overall Rating
8. Average Wait Time
9. All general Reviews about the dining location itself
 --}}




<section class = "diningFacility">
    <div class="header-container">
    <div class = "header-text">
    <h1 id = "restaurantName">{{restaurant.name}}</h1>
    <h2 id = "location">{{restaurant.location}}</h2>
    </div>
        <ul id = "daysOftheWeek" class = "daysOftheWeek">
        {{#each restaurant.hoursOfOperation}}
        <li>{{@key}}: {{this}}</li>
        {{/each}}
    </ul>
    </div>
    <p>Average Wait Time: {{restaurant.averageWaitTime}}</p>
    <p>Rating: {{restaurant.averageRating}}/5</p>
    <p id = "typeofFood">
        {{#each restaurant.typeofFood}}
        {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
    </p>
    <p id = "dietaryRestrictions">
        {{#each restaurant.dietaryRestrictions}}
        {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
    </p>
    <img id = "restimg" class="restimgFac" src = "{{restaurant.imageURL}}" alt = "{{restaurant.name}}">


    <div id="menuItems">
        <ol class="menuList">
            {{#each restaurant.menuItems}}
            <li class="menuItem">
            <h3 class="menuItemName">{{this.name}}</h3>
            
            <div class="hoverPopup">
                <p class="menuItemDescription">Description: {{this.description}}</p>
                
                <p class="dietaryRestrictions">
                    Dietary Restrictions:
                {{#each this.dietaryRestrictions}}
                    {{this}}{{#unless @last}}, {{/unless}}
                {{/each}}
                </p>

                <p class = "rating">Rating: {{this.rating}}/5</p>
            </div>
            </li>
            {{/each}}
        </ol>
    </div>

<div class = "reviews">
    <details>
        <summary class = "caret-summary-reviews"><span class="caret"></span> Reviews</summary>
    <ol>
        {{#each reviews}}
        <li>
            {{#if anonymous}} 
            <p>Anonymous</p>
            {{/if}}
            {{#unless anonymous}}
            <p>Name: {{this.name}}</p> 
            {{/unless}}
            {{#if this.menuItemName}}
            <p>Item: {{this.menuItemName}}</p>
            {{/if}}
            <p>Review: {{this.review}}</p>
            <p>Wait Time: {{this.waitTime}}</p>
            <p>Rating: {{this.rating}}/5</p>
        </li>
        {{/each}}
    </ol>
    </details>
</div>


</section>