    <div class = "landingBox">
        {{#unless isLoggedIn}}
        <p><a href="/users/signup">Signup</a></p> <!--make this hidden if theyre already logged in and give them a user profile they can click on or just disappear-->
        <p><a href="/users/login">Login</a></p>
        {{/unless}}
    </div>

<div id = "restaurants">
    <h1 class = "landingH1"> Top Dining Options </h1>


    {{#each topRestaurants}}
    <div class = "restaurant_box" >
    <a href = "/diningList/{{this._id}}">
        
            <img src = {{this.imageURL}} class = "restaurant_img" alt = "{{this.name}}" >
            <h2 class = "restNameLink">{{this.name}}</h2>
    </a>    
        <ul>
            {{#each topMenuItems}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>

<section class = "overview">
    <h2>About Us</h2>
    <p>
        Deciding where to eat on campus can be challenging and overwhelming, especially with so many dining locations and ever-changing menus. Our platform makes it easy for Stevens Institute of Technology students to share real-time reviews, ratings, and updates about campus dining locations and food. Our platform fosters community by also allowing students to coordinate meal-time meetups, so no student has to eat alone. With all these features in one place, EatWithMe will revolutionize the dining experience at Stevens.
    </p>
    <h2>How to Use:</h2>
    <p>
        To use EatWithMe, start by browsing the landing page to see the top-rated dining locations and their most popular menu items on campus. If you want to explore more options, click “List all Dining Facilities” to view every restaurant and filter them by dietary preferences, average wait time, or overall rating. You can click on any dining location to see details like menu items, reviews, and hours. To contribute your own reviews, RSVP to meal meetups, or follow other students, simply sign up using your Stevens email and verify your account through the email link. Once logged in, you can post or edit reviews, join others for meals through the RSVP page, and build a network of students you enjoy eating with.
        </p>
</section>

<footer class = "landingPg">
    <p>Authors: Alexander Lupia, Andrew Staniaszek, Jack Nolan, Jenn Alexander
    </p>
</footer>
