<article class="profile-container">
    <h1 class = "profile">Hi, {{user.firstName}}! Welcome to your admin page!</h1>

    <!-- Profile Information Container -->
    <section class="profile-info">
        <p class = "profileInfo">Username: {{user.username}}</p>
        <p class = "profileInfo">First Name: {{user.firstName}}</p>
        <p class = "profileInfo">Last Name: {{user.lastName}}</p>
    </section>

    <!-- "My Following" Container -->
    <section class="profile-following">
        <h2 class = "profile">My Following:</h2>
        <ul>
            <!-- Display each user this user is following -->
            {{#each user.following}}
                <li>Username: {{this.username}}</li>
            {{/each}}
        </ul>
    </section>

    <!-- "My Followers" Container -->
    <section class="profile-followers">
        <h2 class = "profile">My Followers:</h2>
        <ul>
            <!-- Display each user who is following this user -->
            {{#each user.followers}}
                <li>Username: {{this.username}}</li>
            {{/each}}
        </ul>
    </section>

<!-- PERSONAL COMMENT:
ALL RSVP FIELDS:
    comment: comment,
    meetUpTime: meetUpTime,
    restaurantId: restaurantId,
    userId: userId,
    usersAttending: [userId]
-->


    <!-- "My RSVP Posts" Container -->
    <section class="profile-rsvps">
        <h2 class = "profile">My RSVP Posts:</h2>
        <ul>
            <!-- Display all RSVP posts made by this user -->
            {{#each user.RSVPposts}}
                <!-- Link that displays RSVP post: title, date, time -->
                <li><a href="/rsvp/{{this._id}}">{{this.title}} - {{this.meetUpTime.date}}, {{this.meetUpTime.time}}</a></li>
            {{/each}}
        </ul>
    </section>


    <!-- "My Current RSVPs" Container -->
    <section class="profile-myRSVPposts">
        <h2 class = "profile">My Current RSVPs:</h2>
        <ul>
            <!-- Display all current RSVP posts made by this user -->
            {{#each user.RSVPposts}}
                <!-- Link that displays RSVP post: title, date, time -->
                <li><a href="/rsvp/{{this._id}}">{{this.title}} - {{this.date}}, {{this.time}}</a></li>
            {{/each}}
        </ul>
    </section>


    <!-- "Reviews" Container -->
    <section class="profile-myReviews">
        <h2 class = "profile">My Reviews:</h2>
        <ul>
            {{#each user.reviews}}
                <!-- Display each review -->
                <li class = "reviewLi">
                    <!-- Display the restaurant name -->
                    {{#if this.menuItemName}}
                        <!-- Display the menu items name -->
                        <p><span class = "reviewSpan">{{this.restaurantName}}:</span> <span class = "revItalic">{{this.menuItemName}}</span></p>
                    {{else}}
                        <p><span class = "reviewSpan">{{this.restaurantName}}</span></p>
                    {{/if}}
                    <!-- Display the rating -->
                    <p><span class = "reviewSpan">Rating:</span> {{this.rating}}</p>
                    <!-- Display the wait time -->
                    <p><span class = "reviewSpan">Wait Time:</span> {{this.waitTime}}</p>
                    <!-- Display the review text -->
                    <p><span class = "reviewSpan">Review:</span> {{this.review}}</p>

                    <!-- Display the review text -->
                </li>

            {{/each}}
        </ul>
    </section>

</article>
