<div class="admin-container">

    <section class="admin-leftside">
        <h2 id="admin-welcome-message" class="profile">Welcome to the admin page!</h2>

        <!-- Profile Information Container
        <div class="profile-info">
            <p class="profileInfo">Username: {{user.username}}</p>
            <p class="profileInfo">First Name: {{user.firstName}}</p>
            <p class="profileInfo">Last Name: {{user.lastName}}</p>
        </div> -->

        <!-- PERSONAL COMMENT:
        ALL RSVP FIELDS:
            comment: comment,
            meetUpTime: meetUpTime,
            restaurantId: restaurantId,
            userId: userId,
            usersAttending: [userId]
        -->
        {{#if message}}
        <p id="admin-error-message" class="deletedReview">{{message}}</p>
        {{/if}}

        <!-- All Reviews! -->
        <div class="profSection">
            <section class="profile-myReviews">
                <h2 class="profile">All User Reviews:</h2>
                <!--
                {{#if message}}
                    <p class="deletedReview">{{message}}</p>
                {{/if}}
                -->
                {{#if reviewDeleted}}
                    <details open>
                {{else}}
                    <details>
                {{/if}}
                    <summary class="caret-summary">
                        <span class="caret"></span> All Reviews
                    </summary>
                    <ul>
                        {{#each user.reviews}}
                            <li class="reviewLi">
                                <div class="buttonGroup">
                                    <form action="/admin/delete" method="POST" class="deleteReveiwForm">
                                        <input type="hidden" name="reviewId" value="{{this._id}}">
                                        <input type="hidden" name="userId" value="{{this.userId}}">
                                        <button type="submit" class="EditandDeleteButton">Delete</button>
                                    </form>
                                </div>
                                <div class="reviewInfo">
                                    {{#if this.userId}}
                                        <div><span class="reviewSpan">This review was written by:</span> {{this.username}}</div>
                                    {{/if}}
                                    {{#if this.menuItemName}}
                                        <p></p><span class="reviewSpan">{{this.restaurantName}}:</span> <span class="revItalic">{{this.menuItemName}}</span>
                                    {{else}}
                                        <div><span class="reviewSpan">{{this.restaurantName}}</span></div>
                                    {{/if}}
                                    <div><span class="reviewSpan">Rating:</span> {{this.rating}}</div>
                                    <div><span class="reviewSpan">Wait Time:</span> {{this.waitTime}}</div>
                                    <div><span class="reviewSpan">Review:</span> {{this.review}}</div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </details>
            </section>
        </div>

        <!-- All Users List! -->
        <section class="profile-myUsers">
            <h2 class="profile">All Users:</h2>
            <details>
                <summary class="caret-summary">
                    <span class="caret"></span> All Users
                </summary>
                <ul>
                    {{#each allUsers}}
                        <li class="reviewLi">
                            <a href="/profile/{{this._id}}">Username: {{this.username}}</a>
                            <div><span class="reviewSpan">First Name:</span> {{this.firstName}}</div>
                            <div><span class="reviewSpan">Last Name:</span> {{this.lastName}}</div>
                            {{#if this.isAdmin}}
                                <div><span class="reviewSpan">Role: </span>Admin</div>
                            {{else}}
                                <div><span class="reviewSpan">Role: </span>Regular User</div>
                            {{/if}}
                            <div class="buttonGroup">
                                {{#if this.isAdmin}}
                                <!-- Revoke admin privileges -->
                                <form action="/admin/changeAdmin/{{this._id}}" method="POST" class="deleteRestaurantForm">
                                    <input type="hidden" name="userId" value="{{this._id}}">
                                    <button type="submit" class="EditandDeleteButton">Revoke Admin Privileges</button>
                                </form>
                                {{else}}
                                <!-- Give admin privileges -->
                                <form action="/admin/changeAdmin/{{this._id}}" method="POST" class="editRestaurantForm">
                                    <input type="hidden" name="userId" value="{{this._id}}">
                                    <button type="submit" class="EditandDeleteButton">Grant Admin Privileges</button>
                                </form>
                                {{/if}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </details>
        </section>

        <!-- Restaurant List! -->
        <section class="profile-myRestaurants">
            <h2 class="profile">All Restaurants:</h2>
            {{#if restaurantDetails}}
            <details open>
            {{else}}
            <details>
            {{/if}}
                <summary class="caret-summary">
                    <span class="caret"></span> All Restaurants
                </summary>
                <ul>
                    {{#each allRestaurants}}
                        <li class="reviewLi">
                            <div class="buttonGroup">
                                <!-- Delete Restaurant Button -->
                                <form action="/admin/restaurant/delete" method="POST" class="deleteRestaurantForm">
                                    <input type="hidden" name="restaurantId" value="{{this._id}}">
                                    <button type="submit" class="EditandDeleteButton">Delete</button>
                                </form>
                                <!-- Edit Restaurant Button -->
                                <form action="/admin/restaurant/edit/{{this._id}}" method="GET" class="editRestaurantForm">
                                    <input type="hidden" name="restaurantId" value="{{this._id}}">
                                    <button type="submit" class="EditandDeleteButton">Edit</button>
                                </form>
                            </div>
                            <div class="reviewInfo">
                                <a href="/diningList/{{this._id}}">Name: {{this.name}}</a>
                                <div><span class="reviewSpan">Location:</span> {{this.location}}</div>
                                <!-- All Menu Items! -->
                                {{#if menuItemDeleted}}
                                <details open>
                                {{else}}
                                <details>
                                {{/if}}
                                    <summary class="caret-summary">
                                        <span class="caret"></span> All Menu Items
                                    </summary>
                                    <ul class="listSlider">
                                        {{#each this.menuItems}}
                                        <li class="sliderListItem">
                                            <div class="buttonGroup">
                                                <!-- Delete Menu Item Button -->
                                                <form action="/admin/menuItem/delete" method="POST" class="deleteMenuItemForm">
                                                    <input type="hidden" name="menuItemId" value="{{this._id}}">
                                                    <button type="submit" class="EditandDeleteButton">Delete</button>
                                                </form>
                                                <!-- Edit Menu Item Button -->
                                                <form action="/admin/menuItem/edit/{{this._id}}" method="GET" class="editMenuItemForm">
                                                    <input type="hidden" name="menuItemId" value="{{this._id}}">
                                                    <button type="submit" class="EditandDeleteButton">Edit</button>
                                                </form>
                                            </div>
                                            <div class="sliderIndividualItem">
                                                <div><span class="reviewSpan">Name:</span> {{this.name}}</div>
                                                <div><span class="reviewSpan">Description:</span></div> {{this.description}}
                                                <div><span class="reviewSpan">Dietary Restrictions:</span></div> {{this.dietaryRestrictions}}
                                                {{#if this.hasReviews}}
                                                <div><span class="reviewSpan">Rating:</span></div> {{this.rating}}/5
                                                {{else}}
                                                <div><span class="reviewSpan">Rating:</span></div>N/A - no reviews
                                                {{/if}}
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </details>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </details>
        </section>
    </section>

    <div class="admin-center">
        {{#if editingRestaurant}}
        <!-- EDIT restaurant form -->
            <div class="profSection">
                <section class="profile-myRSVPposts">
                    <h2 id="edit-restaurant-title" class="profile">Edit Restaurant:</h2>
                    <!-- Form to edit a restaurant -->
                    <form action="/admin/restaurant/edit" method="POST" id="restaurant-edit-form" class="restaurant-form">
                        <!-- Override the POST method to a PUT request -->
                        <input type="hidden" name="_method" value="PUT">
                        <div class="adminBox">
                            <!-- Restaurant id -->
                            <input type="hidden" name="restaurantId" value="{{restaurant._id}}">
                            <!-- Name -->
                            <div class="loginForm">
                                <label for="restaurant-name">Name:</label> 
                                <input type="text" id="restaurant-name" name="name" placeholder="Name..." value="{{restaurant.name}}" class="login-input">
                            </div>

                            <!-- Location -->
                            <div class="loginForm">
                                <label for="restaurant-location">Location:</label>
                                <input type="text" id="restaurant-location" name="location" placeholder="Location..." value="{{restaurant.location}}" class="login-input">
                            </div>

                            <!-- Types of Food -->
                            <div class="loginForm">
                                <label for="restaurant-typeOfFood">Types of food:</label>
                                <input type="text" id="restaurant-typeOfFood" name="typeOfFood" placeholder="Types of food..." value="{{restaurant.typeOfFood}}" class="login-input">
                            </div>

                            <!-- Hours of Operation -->
                            <div class="restaurantHoursOfOperation">
                                <fieldset>
                                    <legend>Hours of operation:</legend>
                                    <div class="hoursOfOperation-section">
                                        {{#each days}}
                                            <label for="restaurant-hoursOfOperation-{{this}}">{{this}}:</label>
                                            <input type="text" id="restaurant-hoursOfOperation-{{this}}" name="hoursOfOperation[{{this}}]" placeholder="ex. '8:00AM - 5:00PM' or 'closed'" value="{{lookup ../restaurant.hoursOfOperation this}}" class="login-input">
                                        {{/each}}
                                    </div>
                                </fieldset>
                            </div>

                            <!-- Image URL -->
                            <div class="loginForm">
                                <label for="restaurant-imageURL">Image URL:</label>
                                <input type="text" id="restaurant-imageURL" name="imageURL" placeholder="Image URL..." value="{{restaurant.imageURL}}" class="login-input">
                            </div>

                            <!-- Dietary Restrictions -->
                            <div class="dietaryRestrictions">
                                <p>Dietary Restrictions:</p>
                                <div class="restaurant-checkbox">
                                    <!-- Vegetarian -->
                                    {{#if restaurantDietaryCheckBox.Vegetarian}}
                                    <input type="checkbox" checked id="editRestaurant-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{else}}
                                    <input type="checkbox" id="editRestaurant-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{/if}}
                                    <label for="editRestaurant-dietaryRestrictions-vegetarian">Vegetarian</label>
                                    <!-- Nut-free -->
                                    {{#if restaurantDietaryCheckBox.Nut-free}}
                                    <input type="checkbox" checked id="editRestaurant-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{else}}
                                    <input type="checkbox" id="editRestaurant-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{/if}}
                                    <label for="editRestaurant-dietaryRestrictions-nut-free">Nut-free</label>
                                    <!-- Vegan -->
                                    {{#if restaurantDietaryCheckBox.Vegan}}
                                    <input type="checkbox" checked id="editRestaurant-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{else}}
                                    <input type="checkbox" id="editRestaurant-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{/if}}
                                    <label for="editRestaurant-dietaryRestrictions-vegan">Vegan</label>
                                    <!-- Dairy-free -->
                                    {{#if restaurantDietaryCheckBox.Dairy-free}}
                                    <input type="checkbox" checked id="editRestaurant-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{else}}
                                    <input type="checkbox" id="editRestaurant-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{/if}}
                                    <label for="editRestaurant-dietaryRestrictions-dairy-free">Dairy-free</label>
                                    <!-- Gluten-free -->
                                    {{#if restaurantDietaryCheckBox.Gluten-free}}
                                    <input type="checkbox" checked id="editRestaurant-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{else}}
                                    <input type="checkbox" id="editRestaurant-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{/if}}
                                    <label for="editRestaurant-dietaryRestrictions-gluten-free">Gluten-free</label>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button id="restaurant-button" type="submit" class="loginButton">Update</button>
                        </div>
                    </form>

                    <ul id="restaurant-errors" class="error-list">
                        {{#if hasErrors}}
                            {{#each errors}}
                                <li>{{this}}</li>
                            {{/each}}
                        {{/if}}
                    </ul>
                </section>
            </div>
        {{else}}
            <!-- CREATE restaurant form -->
            <div class="profSection">
                <section class="profile-myRSVPposts">
                    <h2 id="create-restaurant-title" class="profile">Create a New Restaurant:</h2>
                    <!-- Form to create a restaurant -->
                    <form action="/admin/restaurant" method="POST" id="restaurant-create-form" class="restaurant-form">
                        <div class="adminBox">
                            <!-- Name -->
                            <div class="loginForm">
                                <label for="restaurant-name">Name:</label> 
                                <input type="text" id="restaurant-name" name="name" placeholder="Name..." value="{{restaurant.name}}" class="login-input">
                            </div>

                            <!-- Location -->
                            <div class="loginForm">
                                <label for="restaurant-location">Location:</label>
                                <input type="text" id="restaurant-location" name="location" placeholder="Location..." value="{{restaurant.location}}" class="login-input">
                            </div>

                            <!-- Types of Food -->
                            <div class="loginForm">
                                <label for="restaurant-typeOfFood">Types of food:</label>
                                <input type="text" id="restaurant-typeOfFood" name="typeOfFood" placeholder="Types of food..." value="{{restaurant.typeOfFood}}" class="login-input">
                            </div>

                            <!-- Hours of Operation -->
                            <div class="restaurantHoursOfOperation">
                                <fieldset>
                                    <legend>Hours of operation:</legend>
                                    <div class="hoursOfOperation-section">
                                        {{#each days}}
                                            <label for="restaurant-hoursOfOperation-{{this}}">{{this}}:</label>
                                            <input type="text" id="restaurant-hoursOfOperation-{{this}}" name="hoursOfOperation[{{this}}]" placeholder="ex. '8:00AM - 5:00PM' or 'closed'" value="{{lookup ../restaurant.hoursOfOperation this}}" class="login-input">
                                        {{/each}}
                                    </div>
                                </fieldset>
                            </div>

                            <!-- Image URL -->
                            <div class="loginForm">
                                <label for="restaurant-imageURL">Image URL:</label>
                                <input type="text" id="restaurant-imageURL" name="imageURL" placeholder="Image URL..." value="{{restaurant.imageURL}}" class="login-input">
                            </div>

                            <!-- Dietary Restrictions -->
                            <div class="dietaryRestrictions">
                                <!-- <label for="restaurant-dietaryRestrictions">Dietary Restrictions:</label> -->
                                <p>Dietary Restrictions:</p>
                                <div class="restaurant-checkbox">
                                    <!-- Vegetarian -->
                                    {{#if restaurantDietaryCheckBox.Vegetarian}}
                                    <input type="checkbox" checked id="createRestaurant-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{else}}
                                    <input type="checkbox" id="createRestaurant-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{/if}}
                                    <label for="createRestaurant-dietaryRestrictions-vegetarian">Vegetarian</label>
                                    <!-- Nut-free -->
                                    {{#if restaurantDietaryCheckBox.Nut-free}}
                                    <input type="checkbox" checked id="createRestaurant-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{else}}
                                    <input type="checkbox" id="createRestaurant-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{/if}}
                                    <label for="createRestaurant-dietaryRestrictions-nut-free">Nut-free</label>
                                    <!-- Vegan -->
                                    {{#if restaurantDietaryCheckBox.Vegan}}
                                    <input type="checkbox" checked id="createRestaurant-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{else}}
                                    <input type="checkbox" id="createRestaurant-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{/if}}
                                    <label for="createRestaurant-dietaryRestrictions-vegan">Vegan</label>
                                    <!-- Dairy-free -->
                                    {{#if restaurantDietaryCheckBox.Dairy-free}}
                                    <input type="checkbox" checked id="createRestaurant-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{else}}
                                    <input type="checkbox" id="createRestaurant-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{/if}}
                                    <label for="createRestaurant-dietaryRestrictions-dairy-free">Dairy-free</label>
                                    <!-- Gluten-free -->
                                    {{#if restaurantDietaryCheckBox.Gluten-free}}
                                    <input type="checkbox" checked id="createRestaurant-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{else}}
                                    <input type="checkbox" id="createRestaurant-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{/if}}
                                    <label for="createRestaurant-dietaryRestrictions-gluten-free">Gluten-free</label>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button id="restaurant-button" type="submit" class="loginButton">Submit</button>
                        </div>
                    </form>

                    <ul id="restaurant-errors" class="error-list">
                        {{#if hasErrors}}
                            {{#each errors}}
                                <li>{{this}}</li>
                            {{/each}}
                        {{/if}}
                    </ul>
                </section>
            </div>
        {{/if}}
        </div>
        <div class="admin-rightside">
        {{#if editingMenuItem}}
        <!-- EDIT menu item form -->
            <div class="profSection">
                <section class="profile-myRSVPposts">
                    <h2 id="edit-menuItem-title" class="profile">Edit Menu Item:</h2>
                    <!-- Form to edit a menu item -->
                    <form action="/admin/menuItem/edit" method="POST" id="menuItem-edit-form" class="restaurant-form">
                        <!-- Override the POST method to a PUT request -->
                        <input type="hidden" name="_method" value="PUT">
                        <div class="adminBox">
                            <!-- Drop down for restaurant -->
                            <label for="menuItem-restaurantId">Restaurant:</label>
                            <select id="menuItem-restaurantId" name="restaurantId" class="login-input">
                                {{#each allRestaurants}}
                                    <option value="{{this._id}}" {{#if this.isSelected}}selected{{/if}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                            <!-- Menu item id -->
                            <input type="hidden" name="menuItemId" value="{{menuItem._id}}">
                            <!-- Name -->
                            <div class="loginForm">
                                <label for="menuItem-name">Name:</label> 
                                <input type="text" id="menuItem-name" name="name" placeholder="Name..." value="{{menuItem.name}}" class="login-input">
                            </div>

                            <!-- Description -->
                            <div class="loginForm">
                                <label for="menuItem-description">Description:</label>
                                <input type="text" id="menuItem-description" name="description" placeholder="Description..." value="{{menuItem.description}}" class="login-input">
                            </div>

                            <!-- Dietary Restrictions -->
                            <div class="dietaryRestrictions">
                                <!-- <label for="menuItem-dietaryRestrictions">Dietary Restrictions:</label> -->
                                <p>Dietary Restrictions:</p>
                                <div class="restaurant-checkbox">
                                    <!-- Vegetarian -->
                                    {{#if menuItemDietaryCheckBox.Vegetarian}}
                                    <input type="checkbox" checked id="editMenuItem-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{else}}
                                    <input type="checkbox" id="editMenuItem-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{/if}}
                                    <label for="editMenuItem-dietaryRestrictions-vegetarian">Vegetarian</label>
                                    <!-- Nut-free -->
                                    {{#if menuItemDietaryCheckBox.Nut-free}}
                                    <input type="checkbox" checked id="editMenuItem-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{else}}
                                    <input type="checkbox" id="editMenuItem-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{/if}}
                                    <label for="editMenuItem-dietaryRestrictions-nut-free">Nut-free</label>
                                    <!-- Vegan -->
                                    {{#if menuItemDietaryCheckBox.Vegan}}
                                    <input type="checkbox" checked id="editMenuItem-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{else}}
                                    <input type="checkbox" id="editMenuItem-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{/if}}
                                    <label for="editMenuItem-dietaryRestrictions-vegan">Vegan</label>
                                    <!-- Dairy-free -->
                                    {{#if menuItemDietaryCheckBox.Dairy-free}}
                                    <input type="checkbox" checked id="editMenuItem-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{else}}
                                    <input type="checkbox" id="editMenuItem-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{/if}}
                                    <label for="editMenuItem-dietaryRestrictions-dairy-free">Dairy-free</label>
                                    <!-- Gluten-free -->
                                    {{#if menuItemDietaryCheckBox.Gluten-free}}
                                    <input type="checkbox" checked id="editMenuItem-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{else}}
                                    <input type="checkbox" id="editMenuItem-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{/if}}
                                    <label for="editMenuItem-dietaryRestrictions-gluten-free">Gluten-free</label>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button id="menuItem-button" type="submit" class="loginButton">Update</button>
                        </div>
                    </form>

                    <ul id="menuItem-errors" class="error-list">
                        {{#if hasErrors}}
                            {{#each errors}}
                                <li>{{this}}</li>
                            {{/each}}
                        {{/if}}
                    </ul>
                </section>
            </div>
            {{else}}
            <!-- Create menu item form -->
            <div class="profSection">
                <section class="profile-myRSVPposts">
                    <h2 id="create-menuItem-title" class="profile">Create Menu Item:</h2>
                    <!-- Form to create a menu item -->
                    <form action="/admin/menuItem" method="POST" id="menuItem-create-form" class="restaurant-form">
                        <div class="adminBox">
                            <!-- Drop down for restaurant -->
                            <label for="menuItem-restaurantId">Restaurant:</label>
                            <select id="menuItem-restaurantId" name="restaurantId" class="login-input">
                                {{#each allRestaurants}}
                                    <option value="{{this._id}}" {{#if this.isSelected}}selected{{/if}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                            <!-- Name -->
                            <div class="loginForm">
                                <label for="menuItem-name">Name:</label> 
                                <input type="text" id="menuItem-name" name="name" placeholder="Name..." value="{{menuItem.name}}" class="login-input">
                            </div>

                            <!-- Description -->
                            <div class="loginForm">
                                <label for="menuItem-description">Description:</label>
                                <input type="text" id="menuItem-description" name="description" placeholder="Description..." value="{{menuItem.description}}" class="login-input">
                            </div>

                            <!-- Dietary Restrictions -->
                            <div class="dietaryRestrictions">
                                <!-- <label for="menuItem-dietaryRestrictions">Dietary Restrictions:</label> -->
                                <p>Dietary Restrictions:</p>
                                <div class="restaurant-checkbox">
                                    <!-- Vegetarian -->
                                    {{#if menuItemDietaryCheckBox.Vegetarian}}
                                    <input type="checkbox" checked id="createMenuItem-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{else}}
                                    <input type="checkbox" id="createMenuItem-dietaryRestrictions-vegetarian" name="dietaryRestrictions" value="Vegetarian">
                                    {{/if}}
                                    <label for="createMenuItem-dietaryRestrictions-vegetarian">Vegetarian</label>
                                    <!-- Nut-free -->
                                    {{#if menuItemDietaryCheckBox.Nut-free}}
                                    <input type="checkbox" checked id="createMenuItem-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{else}}
                                    <input type="checkbox" id="createMenuItem-dietaryRestrictions-nut-free" name="dietaryRestrictions" value="Nut-free">
                                    {{/if}}
                                    <label for="createMenuItem-dietaryRestrictions-nut-free">Nut-free</label>
                                    <!-- Vegan -->
                                    {{#if menuItemDietaryCheckBox.Vegan}}
                                    <input type="checkbox" checked id="createMenuItem-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{else}}
                                    <input type="checkbox" id="createMenuItem-dietaryRestrictions-vegan" name="dietaryRestrictions" value="Vegan">
                                    {{/if}}
                                    <label for="createMenuItem-dietaryRestrictions-vegan">Vegan</label>
                                    <!-- Dairy-free -->
                                    {{#if menuItemDietaryCheckBox.Dairy-free}}
                                    <input type="checkbox" checked id="createMenuItem-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{else}}
                                    <input type="checkbox" id="createMenuItem-dietaryRestrictions-dairy-free" name="dietaryRestrictions" value="Dairy-free">
                                    {{/if}}
                                    <label for="createMenuItem-dietaryRestrictions-dairy-free">Dairy-free</label>
                                    <!-- Gluten-free -->
                                    {{#if menuItemDietaryCheckBox.Gluten-free}}
                                    <input type="checkbox" checked id="createMenuItem-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{else}}
                                    <input type="checkbox" id="createMenuItem-dietaryRestrictions-gluten-free" name="dietaryRestrictions" value="Gluten-free">
                                    {{/if}}
                                    <label for="createMenuItem-dietaryRestrictions-gluten-free">Gluten-free</label>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button id="menuItem-button" type="submit" class="loginButton">Submit</button>
                        </div>
                    </form>

                    <ul id="menuItem-errors" class="error-list">
                        {{#if hasErrors}}
                            {{#each errors}}
                                <li>{{this}}</li>
                            {{/each}}
                        {{/if}}
                    </ul>
                </section>
            </div>
            {{/if}}
    </div>

</div>
