<article class="admin-container">

    <section class="admin-leftside">
    <h1 class = "profile">Welcome to the admin page!</h1>

    <!-- Profile Information Container -->
    <section class="profile-info">
        <p class = "profileInfo">Username: {{user.username}}</p>
        <p class = "profileInfo">First Name: {{user.firstName}}</p>
        <p class = "profileInfo">Last Name: {{user.lastName}}</p>
    </section>


<!-- PERSONAL COMMENT:
ALL RSVP FIELDS:
    comment: comment,
    meetUpTime: meetUpTime,
    restaurantId: restaurantId,
    userId: userId,
    usersAttending: [userId]
-->


    <!-- All Reviews! -->
    <section class = "profSection">
    <section class="profile-myReviews">
       <h2 class = "profile">All User Reviews:</h2>
         {{#if message}}
        <p class = "deletedReview">{{message}}</p>
        {{/if}}
       <details close><summary class = "caret-summary"><p> <span class="caret"></span> All Reviews</p></summary>
        <ul>
            {{#each user.reviews}}
            <!-- Display each review -->
            <!-- <form action="/meetupPage/rsvp" method="POST" class = "rsvpForm"> -->
            <li class = "reviewLi">
            <div class="buttonGroup">
                <form action="/admin/delete" method="POST" class = "deleteReveiwForm">
                    <input type="hidden" name="reviewId" value="{{this._id}}">
                    <input type="hidden" name="userId" value="{{this.userId}}">
                    <button type="submit" class="EditandDeleteButton">Delete</button>
                </form>
            </div>
            <div class = "reviewInfo">
                    <!-- Display the username of the user who wrote it -->
                    {{#if this.userId}}
                    <p><span class = "reviewSpan">This review was written by:</span> {{this.username}}</p>
                    {{/if}}
                    <!-- Display the restaurant name -->
                    {{#if this.menuItemName}}
                    <!-- Display the menu items name -->
                    <p><span class = "reviewSpan">{{this.restaurantName}}:</span> <span class = "revItalic">{{this.menuItemName}}</span></p>
                    {{else}}
                        <p><span class = "reviewSpan">{{this.restaurantName}}</span></p>
                    {{/if}}
                    <!-- Display the rating -->
                    <p><span class = "reviewSpan">Rating:</span> {{this.rating}}</p>
                    <!-- Display the wait time -->
                    <p><span class = "reviewSpan">Wait Time:</span> {{this.waitTime}}</p>
                    <!-- Display the review text -->
                    <p><span class = "reviewSpan">Review:</span> {{this.review}}</p>

                </li>
            </div>
            {{/each}}
        </ul>
        </details> 
        </section>
        </section>

    <!-- All Users List! -->
    <section class="profile-myUsers">
        <h2 class="profile">All Users:</h2>
        <details close>
            <summary class="caret-summary"><p><span class="caret"></span> All Users</p></summary>
            <ul>
            {{#each allUsers}}
            <li class="reviewLi">
                <p><span class="reviewSpan">Username:</span> {{this.username}}</p>
                <p><span class="reviewSpan">Name:</span> {{this.firstName}}</p>
                {{#if this.isAdmin}}
                <p><span class="reviewSpan">Role: </span>Admin</p>
                {{else}}
                <p><span class="reviewSpan">Role: </span>Regular User</p>
                {{/if}}
                <!-- Add more fields as needed -->
            </li>
            {{/each}}
            </ul>
        </details>
    </section>

    <!-- Restaurant List! -->
    <section class="profile-myRestaurants">
        <h2 class="profile">All Restaurants:</h2>
        <details close>
            <summary class="caret-summary"><p><span class="caret"></span> All Restaurants</p></summary>
            <ul>
            {{#each allRestaurants}}
            <li class="reviewLi">
                <p><span class="reviewSpan">Name:</span> {{this.name}}</p>
                <p><span class="reviewSpan">Location:</span> {{this.location}}</p>
                <!-- Add more fields as needed -->
            </li>
            {{/each}}
            </ul>
        </details>
    </section>

    </section>


    <section class="admin-rightside">
    <!-- CREATE/EDIT/DELETE restaurant form -->
    <section class = "profSection">
    <section class="profile-myRSVPposts">
        <h2 class = "profile">Create a New Restaurant:</h2>
        <!-- Form to create a restaurant -->
        <form action="/admin/restaurant" method="POST" id="restaurant-form" class="restaurant-form">
            <div class="adminBox">
                <!-- Name -->
                <div class="loginForm">
                    <label for="restaurant-name">
                        Name:
                    </label> 
                    <input type="text" id="restaurant-name" name="name" placeholder="Name..." value="{{name}}" class="login-input">
                </div>

                <!-- Location -->
                <div class="loginForm">
                    <label for="restaurant-location">
                        Location: 
                    </label>
                        <input type="text" id="restaurant-location" name="location" placeholder="Location..." value="{{location}}" class="login-input">
                </div>

                <!-- Types of Food -->
                <div class="loginForm">
                    <label for="restaurant-typesOfFood">
                        Types of food: 
                    </label>
                        <input type="text" id="restaurant-typesOfFood" name="typesOfFood" placeholder="Types of food..." value="{{typesOfFood}}" class="login-input">
                </div>

                <!-- Hours of Operation -->
                
                <div class="restaurantHoursOfOperation">
                    <fieldset>
                        <div class="hoursOfOperation-section">
                            <legend>Hours of operation:</legend>
                            {{#each days}}
                            <label for="restaurant-hoursOfOperation-{{this}}">{{this}}:</label>
                            <input type="text" id="restaurant-hoursOfOperation-{{this}}" name="hoursOfOperation[{{this}}]" placeholder="ex. '8:00AM - 5:00PM' or 'closed'" value="{{lookup ../hoursOfOperation this}}" class="login-input">
                            {{/each}}
                        </div>
                    </fieldset>
                </div>

                <!-- Image URL -->
                <div class="loginForm">
                    <label for="restaurant-imageURL">
                        Image URL: 
                    </label>
                        <input type="text" id="restaurant-imageURL" name="imageURL" placeholder="Image URL..." value="{{imageURL}}" class="login-input">
                </div>

                <!-- Dietary Restrictions -->
                <div class="loginForm">
                    <label for="restaurant-dietaryRestrictions">
                        Dietary restrictions: 
                    </label>
                        <input type="text" id="restaurant-dietaryRestrictions" name="dietaryRestrictions" placeholder="Dietary restrictions..." value="{{dietaryRestrictions}}" class="login-input">
                </div>
                <!-- Button to submit restaurant -->
                <button id="restaurant-button" type="submit"  class="loginButton">Submit</button>

            </div>
        </form>
        
        <ul id="restaurant-errors" class="error-list">
        {{#if hasErrors}}
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        {{/if}}
        </ul>
    </section>
    </section>

</article>
