
<h1>Edit Your Review!</h1>

<ul>
  <li class="reviewLi">
    <form action="/profile/edit" method="POST" class="doneEdit">
      <div class="reviewInfo"> 
        <input type="hidden" name="isMenuItem" value="{{this.isMenuItem}}">
        <input type="hidden" name="properId" value="{{this.properId}}">
        <input type="hidden" name="restId" value="{{this.restId}}">
        {{#if reviewMenuItem}}
             <p><span class = "reviewSpan">{{this.reviewRestaurant}}:</span> <span class = "revItalic">{{this.reviewMenuItem}}</span></p>

        {{else}}
           <p><span class = "reviewSpan">{{this.reviewRestaurant}}:</span> </p>

        {{/if}}
        <p>
            <label>
        Rating:
    <select name="rating">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>        
    </label>
    </p>

        <p>Wait Time:</p>
<input type="number" name="waitHours" min="0" max="5" value = "{{reviewHours}}"> <label>h</label>
  <input type="number" name="waitMinutes" min="0" max="59"  value = "{{reviewMinutes}}"> <label>min</label>
   <input type="hidden" name="reviewId" value="{{this.reviewId}}">

        <p>
        <label>
          Review:
          <textarea name="comment">{{reviewComment}}</textarea>
        </label>
        </p>
        <label for="editAnonymous">Is Anonymous:</label>
          <input type="checkbox" name = "editAnonymous" id = "editAnonymous" value = "true">

        <button type="submit" class="doneEditButton">Done</button>
      </div>
    </form>
  </li>
</ul>


<h3> Old Review: </h3>
<ul>
<li class = "reviewLi">
            <div class = "reviewInfo">
                    <!-- Display the restaurant name -->
                    {{#if this.reviewMenuItem}}
                        <!-- Display the menu items name -->
                        <p><span class = "reviewSpan">{{this.reviewRestaurant}}:</span> <span class = "revItalic">{{this.reviewMenuItem}}</span></p>
                    {{else}}
                        <p><span class = "reviewSpan">{{this.reviewRestaurant}}</span></p>
                    {{/if}}
                    <!-- Display the rating -->
                    <p><span class = "reviewSpan">Rating:</span> {{this.reviewRating}}</p>
                    <!-- Display the wait time -->
                    <p><span class = "reviewSpan">Wait Time:</span> {{this.reviewWaitTime}}</p>
                    <!-- Display the review text -->
                    <p><span class = "reviewSpan">Review:</span> {{this.reviewComment}}</p>
                    <p><span class = "anonymousSpan">Is Anonymous: </span> {{#if anonymous}}Yes{{else}}No{{/if}}</p>
                    <!-- Display the review text -->
            </div>
          </li>
</ul>

<script src="/public/js/editReview.js"></script>
