<article class="profile-container">
    <h1 class = "profile">Hi, {{user.firstName}}!</h1>

    <!-- Profile Information Container -->
    <section class = "profSection">
    <section class="profile-info">
        <p class = "profileInfo">Username: {{user.username}}</p>
        <p class = "profileInfo">First Name: {{user.firstName}}</p>
        <p class = "profileInfo">Last Name: {{user.lastName}}</p>
    </section>
    </section>
    
    <!-- "My Following" Container -->
    <section class = "profSection">
    <section class="profile-following">
        <h2 class = "profile">My Following:</h2>
        <ul>
            <!-- Display each user this user is following -->
            {{#each user.following}}
                <li>Username: {{this.username}}</li>
            {{/each}}
        </ul>
    </section>
    </section>

    <!-- "My Followers" Container -->
    <section class = "profSection">
    <section class="profile-followers">
        <h2 class = "profile">My Followers:</h2>
        <ul>
            <!-- Display each user who is following this user -->
            {{#each user.followers}}
                <li>Username: {{this.username}}</li>
            {{/each}}
        </ul>
    </section>
    </section>
<!-- PERSONAL COMMENT:
ALL RSVP FIELDS:
    comment: comment,
    meetUpTime: meetUpTime,
    restaurantId: restaurantId,
    userId: userId,
    usersAttending: [userId]
-->


    <!-- "My RSVP Posts" Container -->
    <!-- <a href="/rsvp/{{this._id}}">{{this.title}} - {{this.meetUpTime.date}}, {{this.meetUpTime.time}}</a> -->
    <section class = "profSection">
    <section class="profile-rsvps">
        <h2 class = "profile">My Meetup Posts:</h2>
        <p class="rinfo">all meetup posts that I have posted, or attended</p>
        <ul>
            <!-- Display all RSVP posts made by this user -->
            {{#each user.RSVPposts}}
                <li class = "rsvpli">
                    <div class = "profRsvp">
                        <details><summary class = "caret-summary"><p> <span class="caret"></span>Posted By: {{this.user}} </p></summary>
                        <p>When: {{this.meetUpTime.Date}}, {{this.meetUpTime.Time}}</p>
                        <p>Where: {{this.restaurantId}}</p>
                        <p>Comment: {{this.comment}}</p>
                        <p>Users Attending: {{this.usersAttending}}</p>
                        </details>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>
    </section>

    <!-- "My Current RSVPs" Container -->
    <!-- <a href="/rsvp/{{this._id}}">{{this.title}} - {{this.date}}, {{this.time}}</a> -->
    <section class = "profSection">
    <section class="profile-myRSVPposts">
        <h2 class = "profile">Active Meetup Posts and RSVPs:</h2>
        <p class="rinfo">current meetups posted by me, or meetups that I am attending</p>
        <ul>
            <!-- Display all current RSVP posts made by this user -->
            {{#each user.currentRSVPs}}
                <li class = "rsvpli">
                    <div class = "profRsvp">
                        <details><summary class = "caret-summary"><p> <span class="caret"></span>Posted By: {{this.user}} </p></summary>
                        <p>When: {{this.meetUpTime.Date}}, {{this.meetUpTime.Time}}</p>
                        <p>Where: {{this.restaurantId}}</p>
                        <p>Comment: {{this.comment}}</p>
                        <p>Users Attending: {{this.usersAttending}}</p>
                        </details>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>
    </section>
    <!-- "Reviews" Container -->
    <section class = "profSection">
    <section class="profile-myReviews">
       <h2 class = "profile">My Reviews:</h2>
         {{#if message}}
        <p class = "deletedReview">{{message}}</p>
        {{/if}}
       <details open><summary class = "caret-summary"><p> <span class="caret"></span> All Reviews </p></summary>
        <ul>
            {{#each user.reviews}}

                <!-- Display each review -->
                <!-- <form action="/meetupPage/rsvp" method="POST" class = "rsvpForm"> -->
                <li class = "reviewLi">
            <div class="buttonGroup">
                <form>
                    <button type="submit" class="EditandDeleteButton">Edit</button>
                </form>
                <form action="/profile/delete" method="POST" class = "deleteReveiwForm">
                    <input type="hidden" name="reviewId" value="{{this._id}}">
                    <input type="hidden" name="userId" value="{{this.userId}}">
                    <button type="submit" class="EditandDeleteButton">Delete</button>
                </form>
            </div>
            <div class = "reviewInfo">
                    <!-- Display the restaurant name -->
                    {{#if this.menuItemName}}
                        <!-- Display the menu items name -->
                        <p><span class = "reviewSpan">{{this.restaurantName}}:</span> <span class = "revItalic">{{this.menuItemName}}</span></p>
                    {{else}}
                        <p><span class = "reviewSpan">{{this.restaurantName}}</span></p>
                    {{/if}}
                    <!-- Display the rating -->
                    <p><span class = "reviewSpan">Rating:</span> {{this.rating}}</p>
                    <!-- Display the wait time -->
                    <p><span class = "reviewSpan">Wait Time:</span> {{this.waitTime}}</p>
                    <!-- Display the review text -->
                    <p><span class = "reviewSpan">Review:</span> {{this.review}}</p>

                    <!-- Display the review text -->
                </li>
            </div>
            {{/each}}
        </ul>
        </details> 
        </section>
        </section>

        
</article>
