        {{#if message}}
        <p class="deletedReview">{{message}}</p>
        {{/if}}
<div class="profile-container">


    <!-- Profile Information Container -->
    <section class = "profSection">
        <h2 class="profile">{{#if isOwnProfile}}Hi, {{user.firstName}}!{{else}}{{user.firstName}}'s Profile{{/if}}</h2>
        <p class = "profileInfo">Username: {{user.username}}</p>
        <p class = "profileInfo">First Name: {{user.firstName}}</p>
        <p class = "profileInfo">Last Name: {{user.lastName}}</p>
        {{#if isOwnProfile}}
        {{else}}
            <form action="/profile/follow" method="POST" class="followForm" id="follow-form">
                <input type="hidden" id="follow-friendId" name="friendId" value="{{user._id}}">
                <input type="hidden" id="follow-userId" name="userId" value="{{currUser._id}}">
                <input type="hidden" name="action" value="{{#if isFollowing}}unfollow{{else}}follow{{/if}}">
                <button type="submit" class="followButton">{{#if isFollowing}}Unfollow{{else}}Follow{{/if}}</button>
            </form>
        {{/if}}

    </section>
    
    <!-- "Following" Container -->
    <section class = "profSection">
        <h2 class = "profile">Following:</h2>
        <ul>
            <!-- Display each user this user is following -->
            {{#each user.following}}
                <li>
                    <a href="/profile/{{this._id}}">Username: {{this.username}}</a>
                </li>
            {{/each}}
        </ul>
    </section>

    <!-- "My Followers" Container -->
    <section class = "profSection">
        <h2 class = "profile">Followers:</h2>
        <ul>
            <!-- Display each user who is following this user -->
            {{#each user.followers}}
                <li>
                    <a href="/profile/{{this._id}}">Username: {{this.username}}</a>
                </li>
            {{/each}}
        </ul>
    </section>
<!-- PERSONAL COMMENT:
ALL RSVP FIELDS:
    comment: comment,
    meetUpTime: meetUpTime,
    restaurantId: restaurantId,
    userId: userId,
    usersAttending: [userId]
-->


    <!-- "My RSVP Posts" Container -->
    <!-- <a href="/rsvp/{{this._id}}">{{this.title}} - {{this.meetUpTime.date}}, {{this.meetUpTime.time}}</a> -->
    <section class = "profSection">
        <h2 class = "profile">Meetup Posts:</h2>
        <p class="rinfo">all posted and attended meetups</p>
        <ul>
            <!-- Display all RSVP posts made by this user -->
            {{#each user.RSVPposts}}
                <li class = "rsvpli">
                    <div class = "profRsvp">
                        <details><summary class = "caret-summary"> <span class="caret"></span>Posted By: {{this.user}} </summary>
                        <p>When: {{this.meetUpTime.Date}}, {{this.meetUpTime.Time}}</p>
                        <p>Where: {{this.restaurantId}}</p>
                        <p>Comment: {{this.comment}}</p>
                        <p>Users Attending: {{this.usersAttending}}</p>
                        </details>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>

    <!-- "My Current RSVPs" Container -->
    <!-- <a href="/rsvp/{{this._id}}">{{this.title}} - {{this.date}}, {{this.time}}</a> -->
    <section class = "profSection">
        <h2 class = "profile">Active Meetup Posts and RSVPs:</h2>
        <p class="rinfo">current meetups posted by me, or meetups that I am attending</p>
        <ul>
            <!-- Display all current RSVP posts made by this user -->
            {{#each user.currentRSVPs}}
                <li class = "rsvpli">
                    <div class = "profRsvp">
                        <details><summary class = "caret-summary"> <span class="caret"></span>Posted By: {{this.user}} </summary>
                        <p>When: {{this.meetUpTime.Date}}, {{this.meetUpTime.Time}}</p>
                        <p>Where: {{this.restaurantId}}</p>
                        <p>Comment: {{this.comment}}</p>
                        <p>Users Attending: {{this.usersAttending}}</p>
                        </details>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>
    <!-- "Reviews" Container -->
    <section class="profSection">
       <h2 class = "profile">Reviews:</h2>
       <details open><summary class = "caret-summary"> <span class="caret"></span> All Reviews </summary>
        <ul>
            {{#each user.reviews}}
                <li class="reviewLi">
                    
                    {{#if ../isOwnProfile}}
                    
                    <form action = "/profile/editReview" method = "GET" class = "editReviewForm">
                     <input type="hidden" name="revieww" value="{{this}}">
                      
                     <input type="hidden" name="reviewId" value="{{this._id}}">
                     <input type="hidden" name="userId" value="{{this.userId}}">
                     <input type="hidden" name="reviewComment" value="{{this.review}}">
                     <input type="hidden" name="reviewRestaurant" value="{{this.restaurantName}}">
                     <input type="hidden" name="reviewMenuItem" value="{{this.menuItemName}}">
                     <input type="hidden" name="reviewRating" value="{{this.rating}}">
                      <input type="hidden" name="reviewWaitTime" value="{{this.waitTime}}">
                     <button type="submit" class="EditandDeleteButton">Edit</button>
                     {{#if this.menuItemName}}
                         <input type="hidden" name="properId" value="{{this.menuItemId}}">
                         <input type="hidden" name="restId" value="{{this.restaurantId}}">
                         <input type="hidden" name="isMenuItem" value="true">
                     {{else}}
                         <input type="hidden" name="properId" value="{{this.restaurantId}}">
                         <input type="hidden" name="isMenuItem" value="false">
                     {{/if}} 
                     </form>
                    <form action="/profile/delete" method="POST" class="deleteReveiwForm">
                        <input type="hidden" name="reviewId" value="{{this._id}}">
                        <input type="hidden" name="userId" value="{{this.userId}}">
                        <button type="submit" class="EditandDeleteButton">Delete</button>
                    </form>
                    <div  class="meetupError" hidden></div>
                    {{/if}}
                    {{#if ../isOwnProfile}}
                    <div class="reviewInfo">
                        {{#if this.menuItemName}}
                            <span class="reviewSpan">{{this.restaurantName}}:</span> <span class="revItalic">{{this.menuItemName}}</span>
                         <input type="hidden" name="properId" value="{{this.menuItemId}}">
                        {{else}}
                            <span class="reviewSpan">{{this.restaurantName}}</span>
                        <input type="hidden" name="properId" value="{{this.restaurantId}}">
                        {{/if}}
                        <p><span class="reviewSpan">Rating:</span> {{this.rating}}</p>
                        <p><span class="reviewSpan">Wait Time:</span> {{this.waitTime}}</p>
                        <p><span class="reviewSpan">Review:</span> {{this.review}}</p>
                    </div>
                    {{else}}
                        {{#if this.anonymous}}
                            <div class="reviewInfo"><p>Posted Anonymously</p></div>
                        {{else}}
                            <div class="reviewInfo">
                            {{#if this.menuItemName}}
                                <span class="reviewSpan">{{this.restaurantName}}:</span> <span class="revItalic">{{this.menuItemName}}</span>
                                <input type="hidden" name="properId" value="{{this.menuItemId}}">
                            {{else}}
                                <span class="reviewSpan">{{this.restaurantName}}</span>
                                <input type="hidden" name="properId" value="{{this.restaurantId}}">
                            {{/if}}
                            <p><span class="reviewSpan">Rating:</span> {{this.rating}}</p>
                            <p><span class="reviewSpan">Wait Time:</span> {{this.waitTime}}</p>
                            <p><span class="reviewSpan">Review:</span> {{this.review}}</p>
                            </div>
                        {{/if}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>
        </details> 
    </section>
</div>
{{#if isOwnProfile}}
<section id = "createReviewContainer">
    <form method = "POST" class = "formContainer" id = "review-form">
        <h2>Create New Review</h2>
        {{!-- DropDown For Restaurant --}}
        <div class = "dropdown filter-group">
            <button 
                class="btn btn-default dropdown-toggle" 
                id="restaurantDropdown" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">Restaurant<span class = "caret"></span>
            </button>
                <ul class="dropdown-menu" id = "restaurant">
                        {{!-- {{#each restaurant}}
                        <li><label><input type="radio" value="{{this.id}}">{{this.name}}</label></li>
                        {{/each}} --}}
                </ul>
                <p class = "error" id = "errorRestaurant">{{errors.Restaurant}}</p>
        </div>

        {{!-- DropDown For MenuItem --}}
        <div class = "dropdown filter-group">
            <button 
                class="btn btn-default dropdown-toggle" 
                id="menuItemDropdown" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">Menu Item<span class = "caret"></span>
            </button>
                <ul class="dropdown-menu" id = "menuItems">
                        {{!-- <li><label input type = "radio" value = "None">None</label></li> --}}
                        {{!-- {{#each menuItem}}
                        <li><label><input type="radio" value="{{this.id}}">{{this.name}}</label></li>
                        {{/each}} --}}
                </ul>
                {{!-- <p class = "error" id = "errorMenuItem">{{errors.MenuItem}}</p> --}}
        </div>

        <div class = "form-group">
            <label for = "review">Review</label>
            <textarea name = "review" id = "review" placeholder = "This restaurant is so amazing!!!">{{formData.review}}</textarea>
            <p class = "error" id = "errorReview">{{errors.Review}}</p>
        </div>

        <div class = "form-group">
            <label for = "rating">Rating</label>
            <input name = "rating" id = "rating" type = "number" placeholder = "3" value = "{{formData.rating}}">
            <p class = "error" id = "errorRating">{{errors.Rating}}</p>
        </div>

        <div class = "form-group" id = "waitTimeContainer"> 
            Wait Time
            <div class="time-field">
                <input name="waitTimeHour" id="waitTimeHour" type="number" min="0" max = "5" placeholder="1" value = "{{formData.waitTimeHour}}">
                <label for = "waitTimeHour">hours (0-5)</label>
            </div>
            <div class="time-field">
                <input name="waitTimeMinute" id="waitTimeMinute" type="number" min="0" max="59" placeholder="30" value = "{{formData.waitTimeMinute}}">
                <label for = "waitTimeMinute">min (0-59)</label>
            <p class = "error" id = "errorTime">{{errors.Time}}</p>
            </div>
            <div id = "anonymous-field">
                <label for = "anonymous">Anonymous</label>
                <input name="anonymous" id = "anonymous" type="checkbox" value="true">
            </div>

        </div>
            
        

        <div class = "form-group">
            <button type="submit" name = "submit_button" id = "submit_button">Submit</button>
        </div>
        {{#if message}}
            <p class="error">{{message}}</p>
        {{/if}}
    </form>

</section>
{{/if}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/public/js/populateReview.js"></script>
<script src="/public/js/formValidation.js"></script>


